/* General formatting for everything */
body {
	margin:			0;
	left:			0;
	width:			100%;
	font-family:		Arial;
	padding-top:		48px;
	z-index:		1;
}

h1 {
	font-size:		50px;
	text-shadow:
		-1px -1px 0 #fff,
		 1px -1px 0 #fff,
		-1px  1px 0 #fff,
		 1px  1px 0 #fff;
}

h2 {
	font-size:		20px;
}

p {
	font-size:		15px;
}

.block {
	position:		relative;
	display:		inline-block;
	text-align:		left;
	width:			94%;
	padding:		0px 3%;
	background-color:	#999999;
}

.passage {
	background-color:	#cccccc;
	height:			150px;
}

.clear {
	background-color:	transparent;
}

/* General formatting for the navigation bar */
.topnav {
	position:		fixed;
	top:			0;
	width:			100%;
	height:			48x;		/* font size + (vertical padding * 2) */
	background-color:	#333;
	overflow:		hidden;
	z-index:		100;
}

.topnav a {
	float:			left;
	color:			#f2f2f2;
	text-align:		center;
	padding:		14px 16px;
	text-decoration:	none;
	font-size:		17px;
}

.topnav a:hover {
	background-color:	#ddd;
	color:			black;
}

.topnav a.active {
	background-color:	#04aa6d;
	color:			white;
}

.qrain {
	background:		none;
	background-color:	#444444;
	background-size:	100px;
	background-image:	url("../images/qrain-rot.png");
	height:			100%;
	left:			0;
	position:		fixed;
	top:			0;
	width:			100%;
	z-index:		-1;
	animation:		qrain 1000s linear infinite;
}

@keyframes qrain {
	0% {
		background-position:	0px 0px;
	}
	100% {
		background-position:	50000px 50000px;
	}
}
